@import url(https://fonts.googleapis.com/css?family=Flamenco:400,300);

html {
	background: href="unit 3/images/miami.jpeg";
	background-size: large;
	font-family: 'Flamenco', cursive; 
	font-weight: lighter;
	color: rgb(0,0,0);
	text-align: center;
}

h1 {
	font-size: 5em;
	text-transform: uppercase;
	text-decoration: sans-serif;
}


h2{
	text-transform: uppercase;
	font-size: 1.5em;
	text-decoration: sans-serif;
}

p {
  	font-size: 1em;
  	text-align: center;
}

h3 {font-size: 1.5em;
	font-weight: bolder;
	text-decoration: sans-serif;
} 
