html {
	background: url(images/logo.png);
	background-size: cover;
	font-family: helvetica; 
	font-weight: lighter;
	color: #fff;
	text-align: center;
}

h1 {
	font-size: 50px;
	text-transform: uppercase;
}


h2{
	font-size: 20px;
}

p {
  	font-size: 10px;
  	text-align: center;
}

h3 {font-size: 20px;
	font-weight: bolder;
} 
