html
{font-family: helvetica;
	font-weight: lighter;
	text-align: center;
}
	header {
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
    text-transform: uppercase;
    text-align: center;
    font-size: 4em;
}
nav {
	background: #E8C66A;
	text-align: center;
	} 
aside {
	background: #FFC675;
	text-align: left;
	} 
article {
	background: #E89C6C;
	}

footer {
	background: #FF957E;
	text-align: left;
}
div{
	background: #FFE2B8;
	}
section {
	background: #FFE2B8;
	} 
h1 {
	font-size: 1.7em;
	text-transform: uppercase;
	padding: .04em;
	text-align: left;
}
h2 {
	font-size: 1.5em;
	text-transform: uppercase;
	padding: .02
	text-align: center;
	font-weight: lighter;
}
h3 {
	font-size: 1.2em;
	padding: .02em;
	text-align: left;
}
ul {
	text-align: left
	font-weight: lighter;
}

article,aside {
	border: 2em 0 2em 0;
}